@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@layer components {
  .navbar {
    @apply flex bg-linear-to-r from-indigo-600 to-violet-500 text-white justify-between items-center px-3 py-3 md:px-12 drop-shadow-lg
  }

  .nav-link {
    @apply p-3 hover:bg-white hover:text-indigo-500 rounded-md transition-all duration-500 cursor-pointer
  }

  .nav-menu {
    @apply absolute z-10 sm:hidden top-15 left-0 w-full bg-indigo-500 flex flex-col items-center text-lg transform transition-transform
  }

  .nav-list {
    @apply list-none w-full text-center p-4 hover:bg-indigo-200 hover:text-white transition-all cursor-pointer border-t
  }

  .container {
    @apply flex justify-center items-center
  }
}